{:deps {com.wsscode/pathom3 {:mvn/version "2022.04.20-alpha"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.54"}}
 :paths ["main/src"]
 :aliases {:outdated
           {:extra-deps {com.github.liquidz/antq {:mvn/version "1.6.2"}}
            :main-opts ["-m" "antq.core"]}}}
